﻿@using SuppliesApplication.Models;

@model ShopSuppliers

@{
    ViewBag.Title = "Suppliers";
}

<h2>Suppliers</h2>

<div>
    <hv>@Model.Shop.Name</hv>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers[0].Supplier.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers[0].Supplier.ContactPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers[0].Supplier.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers[0].Supplier.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers[0].Supplier.Phone)
            </th>
        </tr>
        @foreach(var item in Model.Suppliers)
        {
            <tr>
                <td>@item.Supplier.Name</td>
                <td>@item.Supplier.ContactPerson</td>
                <td>@item.Supplier.City</td>
                <td>@item.Supplier.Address</td>
                <td>@item.Supplier.Phone</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Show Suppliers", "Suppliers") |
    @Html.ActionLink("Back", "Index")
</p>

